body {
	background-color: #FCF0CA;
font-family: Helvetica;
}
.maincontainer {
margin-top: 10rem;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
h1 {
	width: 100%;
	font-size: 5rem;
	text-align: center;
	margin: 0;
}
h3 {
	width: 100%;
	text-align: center;
	font-size: 1rem;
	margin: 0;
	margin-top: 5px;
	color: #b5b5b5;
}
.container {
	width: 400px;
}
form {
	width: 100%;
	display: block;
	text-align: center;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
li {
	width: 100%;
	word-wrap: break-word;
	border: 1px solid black;
	padding: 10px 5px;
}
input {
	color: black;
	width: 100%;
	background-color: transparent;
	padding: 10px 5px;
}
input::placeholder {
	color: black;
}
.crossedoff {
	text-decoration: line-through;
}
